name: deploy-docs

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches:
    - main
    paths:
    - docs/**

permissions:
  contents: write  # needed to push to gh-pages branch

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[dev]"

    # Build the book
    - name: Build the book
      working-directory: ${{runner.workspace}}/routee-transit/docs/
      run: |
        python examples/_convert_examples.py
        jupyter-book build .

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ${{runner.workspace}}/routee-transit/docs/_build/html
